<div class="col-md-12 row">
  <div class="col-md-4">
    <form [formGroup]="pageFormGroup">
      <h1>Form:</h1>
      <h2>A</h2>
      <div formGroupName="a">

        <div formGroupName="aa">
          <h4>AA</h4>

          <div>
            <span>AAA</span>
            <input formControlName="aaa" type="text">
          </div>

          <div>
            <span>AAB</span>
            <input formControlName="aab" type="text">
          </div>

          <div>
            <span>AAC</span>
            <input formControlName="aac" type="text">
          </div>
        </div>


        <div formGroupName="ab">
          <h4>AB</h4>

          <div>
            <span>ABA</span>
            <input formControlName="aba" type="text">
          </div>

          <div>
            <span>ABB</span>
            <input formControlName="abb" type="text">
          </div>

          <div>
            <span>ABC</span>
            <input formControlName="abc" type="text">
          </div>
        </div>

      </div>

      <h2>B</h2>
      <div formGroupName="b">

        <div formGroupName="ba">
          <h4>BA</h4>

          <div class="flex-row">
            <span>BAA</span>
            <input formControlName="baa" type="text">
          </div>

          <div>
            <span>BAB</span>
            <input formControlName="bab" type="text">
          </div>

          <div>
            <span>BAC</span>
            <input formControlName="bac" type="text">
          </div>
        </div>


        <div formGroupName="bb">
          <h4>AB</h4>

          <div>
            <span>BBA</span>
            <input formControlName="bba" type="text">
          </div>

          <div>
            <span>BBB</span>
            <input formControlName="bbb" type="text">
          </div>

          <div>
            <span>BBC</span>
            <input formControlName="bbc" type="text">
          </div>
        </div>

      </div>

    </form>
  </div>
  <div class="col-md-8">
    <pre>
      {{pageFormGroup.value | json}}
    </pre>
  </div>
</div>
